/* html,
body {
  height: 100%;
  background-color: #333;
} */

.font-kaushan {
  font-family: "Kaushan Script", cursive !important;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 36em;
  min-height: 100vh;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/* Carousel base class */
.carousel {
  /* margin-bottom: 4rem; */
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 36rem;
  background-color: #777;
}

.carousel-item.active {
  display: flex;
  align-items: center;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 36rem;
}

@media screen and (max-width: 450px) {
  .carousel-item,
  .carousel-item > img {
    height: 100vw;
  }

  .side-heading {
    font-size: 1rem;
  }
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}
